# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Upload files
uploads/
temp/
tmp/

# Vector database / indexes
chroma_db/
faiss_index/
milvus_data/
qdrant_storage/

# Database local files
*.sqlite
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.dbdocpilot-backend/.env
.env

#export
docpilot-backend/exports/
exports/

# Runtime vector database data
docpilot-backend/chroma_db/
